# Ignore everything
*

# But not these files...
!/.gitignore
!/.gitattributes
!/.gitignore
!/.gitattributes

!*.go
!go.sum
!go.mod
!/example/game/Assets/**/*
!/example/game/Packages/**/*
!/example/game/ProjectSettings/**/*
!/example/game/UserSettings/*•/*
!/example/game/Assembly-CSharp.csproj
!/example/game/Assembly-CSharp-Editor.csproj
!/README.md
!/LICENSE
!dagger.json
!/nunit-transforms/**/* 
!/VERSION

# !Makefile

# ...even if they are in subdirectories
!*/